@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #B71C1C;
  --color-primary: #B71C1C;
  --secondary: #E65100;
  --tertiary: #8D6E63;
  --neutral: #2E211F;
  --light-pink: #f9edea;
  --classic-white: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root { }
} */

body #app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  border: 1px solid red;

  background: var(--classic-white);
}